@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    //height: 2rem;
    //overflow: visible;

    //$bevel: btn-hero-bevel(nb-theme(card-bg));
    //$shadow: nb-theme(btn-hero-shadow);
    //box-shadow: $bevel, $shadow;

    .icon-container {
      height: 100%;
      padding: 0.3rem;
    }

    .icon {
      //display: flex;
      align-items: center;
      justify-content: center;
      width: 1.75rem;
      height: 1.75rem;
      font-size: 1.75rem;
      //border-radius: nb-theme(card-border-radius);
      //transition: width 0.4s ease;
      //transform: translate3d(0, 0, 0);
      //-webkit-transform-style: preserve-3d;
      //-webkit-backface-visibility: hidden;
      color: nb-theme(color-white);

      &.primary {
        @include btn-hero-primary-gradient();
        //@include btn-hero-primary-bevel-glow-shadow();
      }
      &.success {
        @include btn-hero-success-gradient();
        //@include btn-hero-success-bevel-glow-shadow();
      }
      &.info {
        @include btn-hero-info-gradient();
        //@include btn-hero-info-bevel-glow-shadow();
      }
      &.warning {
        @include btn-hero-warning-gradient();
        //@include btn-hero-warning-bevel-glow-shadow();
      }
      &.danger {
        @include btn-hero-danger-gradient();
        //@include btn-hero-danger-bevel-glow-shadow();
      }
      &.secondary {
        @include btn-hero-secondary-bg();
        //@include btn-hero-secondary-bevel-glow-shadow();
        color: nb-theme(card-fg);
      }
    }
  }
}
